@import url(https://fonts.googleapis.com/css?family=Pacifico);
body {
	background-color: gray;
	color: white;
	font-family:helvetica, arial, sans-serif;
	font-size:16px;
	line-height:1.5;
}
h1 {
	font-family: 'Pacifico', cursive;
}
