@import url(https://fonts.googleapis.com/css?family=Sigmar+One|Lora|Lobster);
body {
	background-color: #fff;
	color: #000;
	font-family: 'Lora', serif;
	font-size:14px;
	line-height:1.5;
	text-align: center;
}
h1 {
	font-family: 'Lobster', cursive;
	text-transform: lowercase;
	font-size: 60px;
	color: #141F26;
}

hr {
	width: 75%;
}

.img_rachel_circle {
	width: 300px;
	height: 300px;
	border-radius: 150px;
}
p {
	width: 75%;
}